.qm-action-items {
    margin-bottom: rem(52px);
}

.qm-action-item {
    display: flex;
    width: 100%;
    font-size: rem(18px);
    margin-bottom: rem($global-standard-margin);
    color: $card-action-item-color;
    text-decoration: none;
    
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:visited {
        color: $card-action-item-color;
    }

    @at-root [dir='rtl'] & {
        text-align: right;
    }

    &__icon {
        flex: 0 22px;
    }

    &__text {
        flex: 1 auto;
        font-weight: $font-weight-light;
    }
}