.qm-context-marketing {
    flex: 0 0 28px;
    height: 28px;
    margin-top: rem(4px);
    margin-left: rem(4px);
    color: $context-marketing-color;

    &:hover {
        text-decoration: none;
    }

    @at-root [dir='rtl'] & {
        margin-left: 0;
        margin-right: rem(4px);
    }

    &__icon {
        font-size: rem(28px);
    }
}

// Context marketing popover
.qm-popover {
    &-context-marketing {
        max-width: 500px;
        border-radius: $standard-border-radius;
        padding: rem($global-standard-padding 48px $global-standard-padding $global-standard-padding);
        width: 100%;
        background: $pale-aquamarine;

        @at-root [dir='rtl'] & {
            padding: rem($global-standard-padding $global-standard-padding $global-standard-padding 48px); 
        }

        &__text {
            margin-bottom: 0;
            color: $white;
            font-weight: $font-weight-light;
        }

        &__close-btn {
            position: absolute;
            top: rem($global-standard-padding + 2);
            right: rem($global-standard-padding);
            color: $light-transparent50;

            @at-root [dir='rtl'] & {
                right: auto;
                left: rem($global-standard-padding);
            }

            .qm-action-btn__icon {
                font-size: rem(18px);
            }

            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
}