.qm-footer {
    background: $tertiary-color;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $global-footer-height;
    }

    &__text {
        color: $light-gray;
        font-size: rem(14px);
        margin-bottom: 0;
    }
}
