.qm-main {
    display: flex;
    height: $global-main-height;

    &__left {
        flex: 0 0 41.66666%;
        height: 100%;
        background: $pale-blue; // TODO: fix gradient
    }

    &__right {
        flex: 0 0 58.33333%;
        height: 100%;
    }
}