.qm-main {
    margin-top: $global-header-height;
    display: flex;
    height: $global-main-height;
    &__left {
        position: relative;
        flex: 1 1 100%;
        height: 100%;
        background: linear-gradient(254.96deg, $background-gradient-stop1 0%, $background-gradient-stop2 34.9%, $background-gradient-stop3 62.87%, $background-gradient-stop4 77.12%, $background-gradient-stop5 100%);
        min-width: 0;
    }
    &__right {
        display: none;
        flex: 1 1 percentage(7/12);
        height: 100%;
        padding: rem(40px 32px 30px);
        background: $right-background-color;
        box-shadow: inset 15px 0px 60px -20px rgba(0, 0, 0, 0.75);
        @at-root [dir='rtl'] & {
            box-shadow: inset -15px 0px 60px -20px rgba(0, 0, 0, 0.75);
        }
    }
    &__scroll-container {
        display: flex;
        height: $global-card-layout-height;
        padding-bottom: 0;
        overflow-y: auto;
        width: 100%;
    }
}

@media screen and (min-width: #{map-get($grid-breakpoints, 'sm')}) {
    .qm-main {
        &__left {
            flex: 1 1 percentage(5/12);
        }
        &__right {
            display: block;
        }
    }
}