.nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    background: $tertiary-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    &__middle-space {
        flex-grow: 1;
        cursor: arrow;
    }

    li {
        height: 100%;
    }

    li:nth-child(2) a {
        font-size: rem(24px);
        color: $h1-color;
        padding: 0;
    }

   

    a {
        padding: 0.5em;
        align-items: center;
        font-size: rem(14px);
        text-decoration: none;
        display: flex;
        height: 100%;
        color: $light-gray;
    }

    li:nth-child(n+4) a:hover, a:focus {
        background: $h1-color;
    }
}