.qm-notes {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    align-self: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: rem(24px);
    
    &__edit-container {
        width: 100%;
        display: none;
    }

    &__presentation-container {
        width: 100%;
        align-self: flex-end;
    }

    &__textarea {
        display: block;
        height: 130px;
        width: 100%;
        margin-bottom: rem($global-standard-margin / 2);
        border: 1px solid $dark-transparent12;
        resize: none;
        font-weight: $font-weight-light;
    }

    &__label {
        font-size: rem(12px);
        color: $dark-transparent62;
        margin-bottom: 0;
    }

    &__nr-of-character-container {
        display: flex;
    }

    &__characters {
        font-size: rem(12px);
        color: $dark-transparent62;
    }
}

.qm-notes-btn {
    position: relative;
    width: 100%;
    color: $dark-transparent82;
    background: transparent;
    border: 0;
    padding: rem($global-standard-padding / 2 40px $global-standard-padding / 2 $global-standard-padding / 2);
    border-bottom: 1px solid $dark-transparent42;
    cursor: pointer;
    text-align: left;
    
    @at-root [dir='rtl'] & {
        padding: rem($global-standard-padding / 2 $global-standard-padding / 2 $global-standard-padding / 2 40px);
        text-align: right;
    }

    &__icon {
        position: absolute;
        font-size: rem(24px);
        top: rem($global-standard-padding / 2);
        right: 0;
        color: $dark-transparent12;

        @at-root [dir='rtl'] & {
            right: auto;
            left: 0;
        }
    }

    &__text {

    }

    &:hover,
    &:focus {
        border-color: $dark-transparent82;

        .qm-notes-btn__icon {
            color: $dark-transparent82;
        }
    }
}