.dataTables_scrollBody {
    .qm-table__header {
        height: 0;

        th {
            &:before,
            &:after {
                content: none;

                @at-root [dir='rtl'] & {
                    content: none;
                }
            }
        }
    }
}


#queuesModule,
#queueDetailView {
    height: 100%;

    .dataTables_scrollBody {
        height: calc(100% - 18px) !important;
    }

    #queues_wrapper,
    #myQueuesTable_wrapper,
    #tickets_wrapper {
        height: 100%;
    }

    .dataTables_scroll {
        height: 100%;
    }

    .dataTables_scrollHeadInner {
        width: 100% !important;
    }
}

.dataTables_filter {
    label {
        width: 100%;
    }
    input {
        width: 100%;
	}
}

.dataTables_scrollHeadInner {
    .qm-table__header {
        border-bottom: 0;
    }
}

.dataTables_scrollHeadInner {
    .qm-table--simple {
        margin-bottom: 12px;
    }
}

#queueDetailView {
    .dataTables_scrollBody {
        height: calc(100% - 30px) !important;
    }
}


.ui-widget {
    font-family: inherit;
    font-size: inherit;
}