.qm-pool-item {
    display: flex;
    padding: rem($global-standard-padding / 2);
    background: $box-background-color;
    border: 1px solid $box-border-color;

    &__content {
        & + & {
            margin-left: rem($global-standard-margin / 2);

            @at-root [dir='rtl'] & {
                margin-left: 0;
                margin-right: rem($global-standard-margin / 2)
            }
        }

        &--ticket {
            color: $secondary-color;
            font-weight: bold;

            &:visited {
                color: $secondary-color;
            }
        }

        &--wait {

        }
    }
}