.qm-pool-item {
    display: flex;
    padding: rem($global-standard-padding / 2);
    background: $box-background-color;
    border: 1px solid $box-border-color;
    align-items: center;
    justify-content: space-between;

    @at-root .qm-main--no-queues & {
        max-width: 153px;
        width: auto;
    }

    &__content {

        & + & {
            margin-left: rem($global-standard-margin / 2);

            @at-root [dir='rtl'] & {
                margin-left: 0;
                margin-right: rem($global-standard-margin / 2)
            }
        }

        &--ticket {
            color: $secondary-color;
            font-weight: bold;

            &:visited,
            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }

        &--app-icon {
            font-size: rem(20px);
            margin: 1px 0 0 10px ;
            color: $dark-transparent82;

            @at-root [dir='rtl'] & {
                margin: 1px 10px 0 0;
            }
        }

        &--app-time {
            font-size: rem(16px);
            width: 41px;
            margin: 0 5px 0 3px;
            font-family: Roboto;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $dark-transparent82;

            
            @at-root [dir='rtl'] & {
                margin: 0 3px 0 5px;
            }
        }

        &--wait {
            font-size: rem(14px);
            color: $dark-transparent62;
        }
    }
}