.qm-pool {
    display: flex;
    position: relative;
    height: rem(42px);
    overflow: hidden;
    margin-bottom: rem($global-standard-margin);
    padding-right: rem(48px);

    @at-root [dir='rtl'] & {
        padding-right: 0;
        padding-left: rem(48px);
    }

    &__label {
        flex: 0 120px;
        color: $dark-transparent82;
        overflow: hidden;
        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;

        @at-root [dir='rtl'] & {
            text-align: left;
        }
    }

    &__content {
        width: 100%;
    }

    &__list {
        flex: 1 auto;
        display: flex;
        margin: rem(0 -4px);
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__list-item {
        margin-bottom: rem(8px);
        padding: rem(0 4px);
    }

    &__toggle-btn {
        position: absolute;
        right: 0;
        top: 8px;
        color: $dark-transparent42;

        @at-root [dir='rtl'] & {
            right: unset;
            left: 0;
        }

        &:hover,
        &:focus {
            color: $dark-transparent82;
        }
    }

    .icon-accordion-toggle {
        font-weight: rem(24px);

        &:before {
            content: "\e902";
        }
    }

    &--is-open {
        height: auto;

        .icon-accordion-toggle {
            &:before {
                content: "\e905";
            }
        }
    }
}
