.qm-popover {
    z-index: 110;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.34);

    &__layout {
        padding: rem($global-standard-padding / 2 $global-standard-padding);
        background: $popover-background-color;

        &--flex-horizontal {
            display: flex;
        }
    }

    &__description {
      display: block;
      font-size: rem(20px);
      font-weight: $font-weight-light;
      margin: rem(0 0 $global-standard-margin 0);
      @at-root [dir='rtl'] & {
          text-align: right;
      }
    }

    &__content {
        max-width: 430px;
        width: 100%;

        &--narrow {
            padding: rem(30px 45px 50px);
        }

        .qm-table-filter {
            margin-top: rem($global-standard-margin);
            margin-bottom: 0;
        }

        .dataTables_filter {
            display: none;
        }

        // .dataTables_info {
        //     display: none;
        // }
    }

    &__close {

        &--small {
            color: $dark-transparent42;
            margin-left: rem($global-standard-margin * 2) !important;

            @at-root [dir='rtl'] & {
                margin-left: 0 !important;
                margin-right: rem($global-standard-margin * 2) !important;
            }

            &:hover {
                color: $dark-transparent82;
            }

            .qm-action-btn__icon {
                font-size: rem(16px);
                margin-bottom: 0;
            }
        }
    }

    // All views
    .qm-popover-action-bar,
    .qm-popover-transfer-selection,
    .qm-popover-queue,
    .qm-popover-user-pool,
    .qm-popover-counter-pool,
    .qm-popover-delayed-transfer {
        display: none;
    }

    &.popover-show--action-bar-view {
        .qm-popover-action-bar {
            display: block;
        }
    }

    &.popover-show--transfer-selection-view {
        .qm-popover-transfer-selection {
            display: block;
            .qm-btn {
                padding: rem($global-standard-padding / 2 $global-standard-padding);

                &__text{
                    white-space: normal;
                }
            }
        }
    }

    &.popover-show--queue-view {
        .qm-popover-queue {
            display: block;
        }
    }

    &.popover-show--user-pool-view {
        .qm-popover-user-pool {
            display: block;
        }
    }

    &.popover-show--counter-pool-view {
        .qm-popover-counter-pool {
            display: block;
        }
    }

    &.popover-show--delayed-transfer-view {
      .qm-popover-delayed-transfer {
          display: block;
      }
  }

  .qm-popover-user-pool,
  .qm-popover-counter-pool,
  .qm-popover-delayed-transfer {
      width: 400px;
  }

  .qm-popover-queue {
    width: 430px;
  }

  .qm-popover-user-pool,
  .qm-popover-counter-pool {
      .qm-table__body {
          td {
              cursor: pointer;
          }
          .qm-table__first-column {
            a {
              color: $dark-transparent82;
              &:hover,
              &:focus,
              &:visited {
                text-decoration: none;
                color: $dark-transparent82;
              }
            }
          }
      }
  }

  &-overlay {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
  }

}

.qm-rendered-popovers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 110;
}

