.qm-action-popover {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.34);

    &__layout {
        display: flex;
        padding: rem($global-standard-padding / 2 $global-standard-padding);
        background: $popover-background-color;
    }


    &__close {
        color: $dark-transparent42;
        margin-left: rem($global-standard-margin * 2) !important;

        @at-root [dir='rtl'] & {
            margin-left: 0 !important;
            margin-right: rem($global-standard-margin * 2) !important;
        }

        &:hover {
            color: $dark-transparent82;
        }
        
        .qm-action-btn__icon {
            font-size: rem(16px);
            margin-bottom: 0;
        }
    }

    // Will be refactored / removed
    // Added to show the popover flow.
    .qm-popover-transfer-selection {
        display: none;
    }

    &.qm-show-transfer {
        .qm-popover-action-bar {
            display: none;
        }

        .qm-popover-transfer-selection {
            display: block;

            .qm-action-popover__layout {
                display: block;
                max-width: 350px;
                padding: 30px;

                & > * {
                    margin-bottom: 8px;
                }
            }
        }
    }
}