.qm-queue-detail {
    display: none;
    height: 100%;

    &__header {
        display: flex;
        border-bottom: 1px solid $dark-transparent12;
        margin-bottom: rem(24px);
        align-items: center;
        padding-bottom: rem($global-standard-padding / 2);
    }

    &__content {
        height: calc(100% - 64px);
    }

    &__headline {
        font-size: rem(21px);
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        margin: rem(0 $global-standard-margin / 2 0 $global-standard-margin / 2);
        color: $dark-transparent82;
    }

    &__back-btn {
        color: $dark-transparent62;

        &:hover,
        &:focus {
            color: $dark-transparent82;
        }
    }
}