.qm-services {
    margin-bottom: rem($global-standard-margin);

    &__current-service-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(2px);
        align-items: center;

        @at-root [dir='rtl'] & {
            text-align: right;
        }
    }

    &__current-services {
        display: flex;
        flex: 0 1 auto;
        overflow: hidden;
    }
    
    &__current-service-title-container {
        flex: 0 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__current-service-title {
        font-size: rem(24px);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
    }

    &__add-service {
        flex: 0 0 auto;
        color: $secondary-color;
        align-items: center;
        text-decoration: none;
        font-size: rem(22px);
        display: flex;
        //width: 200px;

        &-text {
            font-size: rem(14px);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: $secondary-color;
        }

        &:visited {
            color: $secondary-color;
        }
    }

    &__add-service-icon {
        display: inline-block;
        margin-left: rem(4px);

        @at-root [dir='rtl'] & {
            margin-left: 0;
            margin-right: rem(4px);
        }
    }

    &__upcoming-services-container {
        display: flex;
        color: $services-color;
        span {
            min-width: rem(40px);
        }
    }

    &__previous-services-container {
        display: flex;
        color: $services-color;
        span {
            min-width: rem(70px);
        }
    }

    &__label {
        font-weight: $font-weight-light;
        margin-right: rem($global-standard-margin / 2);

        @at-root [dir='rtl'] & {
            margin-right: 0;
            margin-left: rem($global-standard-margin / 2);
        }
    }

    &__services-listing {
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-$global-standard-padding / 2);
        margin-right: rem(-$global-standard-padding / 2);
    }

    &__service-item {
        white-space: nowrap;
        padding: rem(0 $global-standard-padding / 2);

        & + & {
            // margin-left: rem($global-standard-margin / 2);

            // @at-root [dir='rtl'] & {
            //     margin-left: 0;
            //     margin-right: rem($global-standard-margin / 2);
            // }
        }
    }
}
