.qm-table {
    width: 100% !important;

    &__header {
        th {
            font-size: rem(12px);
            font-weight: $font-weight-medium;
            color: $dark-transparent62;
            padding: rem(0 $global-standard-padding);
        }
    }

    &__body {

        tr {
            background: transparent;

            &:hover {
                background: $table-row-hover-color;
                box-shadow: 0 0 4px 0 $dark-transparent12;
            }
        }

        td {
            font-size: rem(18px);
            padding: rem(12px $global-standard-padding);
        }
    }

    &__queue-name,
    &__ticket-code {
        color: $secondary-color;

        &:hover,
        &:focus {
            color: $secondary-color;
        }

        &--disabled {
            color: $dark-transparent82;
            pointer-events: none;
        }
    }

    &__ticket-code {
        font-weight: $font-weight-bold;

        &--disabled {
            font-weight: $font-weight-medium;
        }
    }

    &__first-column {

        @at-root [dir='rtl'] & {
            text-align: right;
        }
    }

    &__middle-column {

        @at-root [dir='rtl'] & {
            text-align: right;
        }

        &--right-align {
            text-align: right;

            @at-root [dir='rtl'] & {
                text-align: left;
            }
        }
    }

    &__last-column {
        text-align: right;
        padding-right: rem(30px);

        @at-root [dir='rtl'] & {
            text-align: left;
            padding-right: rem($global-standard-padding);
            padding-left: rem(30px);
        }
    }

    &__lock-icon {
        font-size: rem(24px);
        color: $dark-transparent42;
        vertical-align: text-bottom;
    }

    &__highlight {
        font-weight: $font-weight-medium;
        text-decoration: underline;
    }

    // DataTables overrides
    .sorting,
    .sorting_asc,
    .sorting_desc {
        background: none;
    }

    .sorting_asc {
        &:after {
            content: "\e902";
            @extend .icon-styles;
            margin-left: rem($global-standard-margin / 2);
        }

        @at-root [dir='rtl'] & {
            &:after {
                content: none;
            }

            &:before {
                content: "\e902";
                @extend .icon-styles;
                margin-right: rem($global-standard-margin / 2);
            }   
        }
    }

    .sorting_desc {
        &:after {
            content: "\e905";
            @extend .icon-styles;
            margin-left: rem($global-standard-margin / 2);
        }

        @at-root [dir='rtl'] & {
            &:after {
                content: none;
            }

            &:before {
                content: "\e905";
                @extend .icon-styles;
                margin-right: rem($global-standard-margin / 2);
            }   
        }
    }



    &--small {

        .qm-table__header {
            border-bottom: 1px solid $dark-transparent12;

            th {
                font-size: rem(16px);
                padding: rem($global-standard-padding / 2 $global-standard-padding / 2);
            }
        }

        .qm-table__body {
            tr {
                background: transparent;
    
                &:hover {
                    background: $dark-transparent04;
                }
            }
    
            td {
                font-size: rem(18px);
                padding: rem($global-standard-padding / 2 0);
            }

            .qm-table__first-column {
                width: 50%;
                padding: rem($global-standard-padding / 2);
            }
    
            .qm-table__last-column {
                padding: rem($global-standard-padding / 2 24px $global-standard-padding / 2 $global-standard-padding / 2);

                @at-root [dir='rtl'] & {
                    padding: rem($global-standard-padding / 2 $global-standard-padding / 2 $global-standard-padding / 2 24px);
                }
            }
        }
    }

    &--simple {
        .qm-table__header {
            th {
                padding: rem(0 $global-standard-padding / 2);
            }
        }

        .qm-table__body {
            tr {
                background: $table-row-hover-color;
                border-bottom: 3px solid $right-background-color;
                
                &:hover {
                    box-shadow: none;    
                }
            }

            td {
                font-size: rem(16px);
                padding: rem(12px $global-standard-padding / 2);
            }
        }
    }

    &--no-header {
        .qm-table__header {
            display: none;
        }
    }
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.qm-table-filter {
    margin-bottom: rem($global-standard-margin);
}

#myQueuesPanel,
#allQueuesPanel {
    tr {
        .qm-table__first-column {
            width: 50% !important; 
        }
        .qm-table__middle-column {
            width: 20% !important;
        }
        .qm-table__last-column {
            width: 30% !important;
            padding-right: rem(30px);

            @at-root [dir='rtl'] & {
                padding-right: rem($global-standard-padding);
                padding-left: rem(30px);
            }
        }
    }
}

#queueDetailView {
    table{
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap:break-word;
        box-sizing: border-box;
    }
    tr {
        .qm-table__first-column {
            width: 100px !important;
            padding-left: rem($global-standard-padding);

            @at-root [dir='rtl'] & {
                padding-left: rem($global-standard-padding / 2);
                padding-right: rem($global-standard-padding);
            }
        }
        .qm-table__middle-column {
            width: auto !important;
        }
        .qm-table__app-column {
            width: 90px !important;
        }
        .qm-table__last-column {
            width: 145px !important;
            padding-right: rem(30px);

            @at-root [dir='rtl'] & {
                padding-right: rem($global-standard-padding);
                padding-left: rem(30px);
            }
        }
    }
}
