.qm-table {
    width: 100% !important;

    &__header {
        th {
            font-size: rem(12px);
            font-weight: $font-weight-medium;
            color: $dark-transparent62;
            padding: rem(0 10px);
        }
    }

    &__body {

        tr {
            background: transparent;

            &:hover {
                background: $table-row-hover-color;
                box-shadow: 0 0 4px 0 $dark-transparent12;
            }
        }

        td {
            font-size: rem(18px);
            padding: rem(12px $global-standard-padding);
        }
    }

    &__queue-name,
    &__ticket-code {
        color: $secondary-color;

        &:hover,
        &:focus {
            color: $secondary-color;
        }
    }

    &__ticket-code {
        font-weight: $font-weight-bold;
    }

    &__first-column {

        @at-root [dir='rtl'] & {
            text-align: right;
        }
    }

    &__middle-column {

        @at-root [dir='rtl'] & {
            text-align: right;
        }

        &--right-align {
            text-align: right;

            @at-root [dir='rtl'] & {
                text-align: left;
            }
        }
    }

    &__last-column {
        text-align: right;
        
        @at-root [dir='rtl'] & {
            text-align: left;
        }
    }

    &__lock-icon {
        font-size: rem(24px);
        color: $dark-transparent42;
        vertical-align: text-bottom;
    }

    &__highlight {
        font-weight: $font-weight-medium;
        text-decoration: underline;
    }

    // DataTables overrides
    .sorting,
    .sorting_asc,
    .sorting_desc {
        background: none;
    }

    .sorting_asc {
        &:after {
            content: "\e902";
            @extend .icon-styles;
            margin-left: rem($global-standard-margin / 2);
        }

        @at-root [dir='rtl'] & {
            &:after {
                content: none;
            }

            &:before {
                content: "\e902";
                @extend .icon-styles;
                margin-right: rem($global-standard-margin / 2);
            }   
        }
    }

    .sorting_desc {
        &:after {
            content: "\e905";
            @extend .icon-styles;
            margin-left: rem($global-standard-margin / 2);
        }

        @at-root [dir='rtl'] & {
            &:after {
                content: none;
            }

            &:before {
                content: "\e905";
                @extend .icon-styles;
                margin-right: rem($global-standard-margin / 2);
            }   
        }
    }



    &--small {

        .qm-table__header {
            border-bottom: 1px solid $dark-transparent12;

            th {
                font-size: rem(16px);
                padding: rem($global-standard-padding / 2 $global-standard-padding / 2);
            }
        }

        .qm-table__body {
            tr {
                background: transparent;
    
                &:hover {
                    background: $dark-transparent04;
                }
            }
    
            td {
                font-size: rem(18px);
                padding: rem($global-standard-padding / 2 0);
            }

            .qm-table__first-column {
                width: 50%;
                padding: rem($global-standard-padding / 2);
            }
    
            .qm-table__last-column {
                padding: rem($global-standard-padding / 2);
            }
        }
    }

    &--simple {
        .qm-table__body {
            tr {
                background: $table-row-hover-color;
                border-bottom: 3px solid $right-background-color;
                
                &:hover {
                    box-shadow: none;    
                }
            }

            td {
                font-size: rem(16px);
                padding: rem(12px $global-standard-padding);
            }
        }
    }

    &--no-header {
        .qm-table__header {
            display: none;
        }
    }
}

.qm-table-filter {
    margin-bottom: rem($global-standard-margin);
}

#myQueuesPanel,
#allQueuesPanel {
    tr {
        .qm-table__first-column {
            width: 60% !important; 
        }
        .qm-table__middle-column {
            width: 15% !important;
        }
        .qm-table__last-column {
            width: 25% !important;
        }
    }
}