.qm-task-items {
    margin-bottom: rem(52px);
}

.qm-task-item {
    display: flex;
    position: relative;
    font-size: rem(18px);
    padding: rem($global-standard-padding / 2 0);
    color: $card-action-item-color;
    text-decoration: none;
    
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: rem(-$global-standard-padding / 2);
        right: rem(-$global-standard-padding / 2);
        bottom: 0;
        background: transparent;
    }

    &:hover,
    &:focus {
        text-decoration: none;

        &:before {
            background: rgba($pale-aquamarine, 0.04);
        }
    }

    &:visited {
        color: $card-action-item-color;
    }

    @at-root [dir='rtl'] & {
        text-align: right;
    }

    &__icon {
        flex: 0 22px;
        font-size: rem(26px);
        margin-right: rem(4px);

        @at-root [dir='rtl'] & {
            margin-right: 0;
            margin-left: rem(4px);
        }
    }

    &__text {
        flex: 1 auto;
        font-weight: $font-weight-light;
        .listItemValueSelected{
            color: $dark-transparent82;
        }
    }
}
