// Toast containers
#message, #error {
    position: fixed;
    z-index: 140;

    margin: rem(0 16px 0 16px);
    width: 100%;
}

// Block
.qm-toast {
    padding: rem($global-standard-padding 24px $global-standard-padding);
    color: $toast-text-color;
    background: $tertiary-color;
    display: none;
    max-width: 570px;
    width: 100%;
    z-index: 3;
    margin: 0 auto;

    & + & {
        border-top: 1px solid $light-transparent42;
    }

    // Elements
    &__layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__layout {
        .qm-toast__preceding-icon {
            font-size: 40px;
            margin-right: 32px;

            @at-root [dir='rtl'] & { 
                margin-right: auto;
                margin-left: 32px;
            }
        }
    }

    &__message {
        flex: 1 1 auto;
        padding-right: rem($global-standard-padding * 2);
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.25px;
        color: #ebeaea;
        max-width: 55%;

        @at-root [dir='rtl'] & {
            text-align: right;
            padding-right: 0;
            padding-left: rem($global-standard-padding * 2);
        }
    }

    &__close-btn {
        flex: 0 0 20px;
        color: $light-transparent82;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            .qm-action-btn__icon {
                color: $toast-text-color;
            }
        }

        .qm-action-btn__icon {
            font-size: rem(16px);
        }
    }

    // Modifiers
    &--success {
        background: $toast-success-background-color;
    }

    &--danger {
        background: $toast-error-background-color;

        label { 
            .qm-checkbox {
                &__input:checked ~ .qm-checkbox__icon {
                    color: $toast-error-background-color;
                }
            }
        }
    }
}

.qm-checkbox-label {
    margin: auto;
    height: 106%;
}

label {
    &.qm-checkbox { 
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    .qm-checkbox {
        &__input {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
            border: 0; 
        }

        &__input-text {
            font-size: 14px;
            margin-bottom: 0;
            line-height: 24px;
            margin-left: 12px;
            margin-right: 32px;

            @at-root [dir='rtl'] & {
                margin-left: 32px;
                margin-right: 12px;
            } 
        }

        &__input ~ .qm-checkbox__icon {
            font-size: 16px;
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 2px solid #ebeaea;
            padding: 2px;
            border-radius: 2px;
            position: relative;
        }

        &__input:checked ~ .qm-checkbox__icon { 
            background-color: #ebeaea;
            color: $qmatic-aquamarine;
        }
    
        &__input:checked ~ .qm-checkbox__icon:before {
            content: "\e906";
            display: inline-block;
            position: absolute;
            left: -1px;
            top: -1px;
            @at-root [dir='rtl'] &  {
                content: "\e93f";
            }
        }   
    
        &__input ~ .qm-checkbox__icon:before {
            content: "";
        }  
    }
    
} 

