.qm-tooltip {
    position: relative;

    &:hover,
    &:focus {
        .qm-tooltip__text-container {
            display: block;
        }
    }

    &__text-container {
        position: absolute;
        display: none;
        top: calc(100% + 10px);
        left: 50%;
        width: 300px;
        transform: translateX(-50%);
        background: $tooltip-background-color;
    }

    &__text {
        display: block;
        position: relative;
        padding: rem($global-standard-padding);
        color: $tooltip-color;

        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $tooltip-background-color;
        }
    }
}

.tooltip,
.popper {

    .tooltip__arrow,
    .popper__arrow {
        position: absolute;
        margin: 15px;
        height: 15px;
        width: 15px;
        background: $popover-background-color;
        transform: rotate(45deg);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.34);
        z-index: -1;
    }

    &[x-placement^='top'] {
        .tooltip__arrow,
        .popper__arrow {
            bottom: -20px;     
            left: calc(50% - 24px);
        }
    }

    &[x-placement^='right'] {
        .tooltip__arrow,
        .popper__arrow {
            left: -20px;
            top: calc(50% - 24px);
        }
    }

    &[x-placement^='left'] {
        .tooltip__arrow,
        .popper__arrow {
            right: -20px;
            top: calc(50% - 24px);
        }
    }
    
    &[x-placement^='bottom'] {
        .tooltip__arrow,
        .popper__arrow {
            top: -20px;
            left: calc(50% - 24px);
        }
    }
}