.cross-browser-select {
    width: 100%;
    position: relative;
    .native-like-select {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
    }
    select {
        position: absolute;
        left: 0;
        z-index: 99;
        opacity: 0;
        height: 100%;

        &:focus {
          & + .native-like-select {
            outline: 1px dotted;
            outline-style: dotted;
            outline: -webkit-focus-ring-color auto 5px;
          }
        }
    }
    select,
    .native-like-select {
        background: transparent;
        border: 1px solid $dark-transparent12;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0 0 4px 0 $dark-transparent04;
        box-shadow: 0 0 4px 0 $dark-transparent04;
        border-radius: 0;
        -webkit-appearance: inherit;
        padding: 4px 30px 4px 8px;
        color: $dark-transparent42;
        font-weight: 300;
        cursor: pointer;
        word-wrap: break-word;
        /* IE*/
        white-space: -moz-pre-wrap;
        /* Firefox */
        white-space: pre-wrap;
        /* other browsers */
        -ms-word-break: break-all;
        display: inline-block;
        @at-root [dir='rtl'] & {
            padding: 4px 8px 4px 30px;
        }
    }
    .select-carrot-icon {
        position: relative;
    }
    select::-ms-expand {
        display: none;
    }
    .select-carrot-icon:after {
        content: "\e902";
        font-family: 'icomoon';
        color: $dark-transparent82;
        right: rem(8px);
        @at-root [dir='rtl'] & {
            left: rem(8px);
            right: auto;
        }
        top: 5px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    &.invalid {
        .native-like-select {
            border-color: $validation-error;
        }
    }
}