
.qm-drop-down{
     margin: 0px auto 8px auto;

     &:nth-child(3){
         margin-bottom: 15px;
     }

     .drop-has-error {
        border: 1px solid red !important;
     }

     .chosen-container{
         width: 100% !important;

         .chosen-drop {
             border: 0;
             border: 1px solid rgba(0, 0, 0, 0.12);
         }
     }

    .chosen-container-active{
        &.chosen-with-drop{
            .chosen-single {
                border: 1px solid rgba(0,0,0,0.12);	
                border-bottom: 1px solid white;
            }
        }
    }

     .chosen-container-single{

         .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 100%;
    margin-right: 5px;
    b {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      &:before{
        background: transparent;
        content: "\e902";
        font-family: 'icomoon';
        font-size: 24px;
      }
    }
  }

  &.chosen-with-drop {
    .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 100%;
    b {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      background: transparent;
      &:before{
        content: "\e905";
        font-family: 'icomoon';
        font-size: 24px;
      }
    }
  }
  }
     }

     &__component {

        .chosen-single{	
            width: 100%;
            box-sizing: border-box;	
            height: 45px;	
            border: 1px solid rgba(0,0,0,0.12);	
            background: #FFFFFF !important;	
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
            padding: 0 !important;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                height: 24px;		
                color: rgba(0,0,0,0.42);	
                font-family: Roboto;	
                font-size: 18px;	
                font-weight: 300;	
                line-height: 24px;
                padding-left: 10px;
                margin-right: 35px;
            }
            
        }   

        /* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  color: rgba(0,0,0,0.82);
  li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    font-size: 18px;
    font-weight: 300;
    &.active-result {
      display: list-item;
      cursor: pointer;
      padding: 12px;
      line-height: 20px;
    }
    &.disabled-result {
      display: list-item;
      color: #ccc;
      cursor: default;
    }
    &.highlighted {
      background: rgba(0,0,0,0.04);
      color: rgba(0,0,0,0.82);
    }
    &.no-results {
      color: #777;
      display: list-item;
      background: #f4f4f4;
    }
    &.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default;
    }
    &.group-option {
      padding-left: 15px;
    }
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }
}     
    }

    &__header{
            width: 100%;	
            color: rgba(0,0,0,0.62);	
            font-family: Roboto;	
            font-size: 14px;	
            line-height: 25px;
            height: 25px;
    }

    &__component{
        width: 100% !important;

        select{
            width: 100% !important;
            box-sizing: border-box;	
            height: 45px;	
            border: 1px solid rgba(0,0,0,0.12);	
            background-color: #FFFFFF;	
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
        }
    }

    &__error{
            color: #DC0037;	
            font-family: Roboto;	
            font-size: 12px;	
            line-height: 16px;
            padding-top: 2px;
    }

}

