.qm-drop-down {
    &__header {
        width: 100%;
        color: $dark-transparent62;
        font-weight: normal;
        font-family: $font-family;
        font-size: rem(14px);
        line-height: rem(25px);
        height: rem(25px);
        @at-root [dir='rtl'] & {
            text-align: right;
        }
    }
    &__component {
        &.optionSelected {
            .chosen-single {
                span {
                    color: $dark-transparent80 !important;
                    font-weight: normal !important;
                }
            }
        }
        select {
            width: 100% !important;
            box-sizing: border-box;
            height: rem(45px);
            border: 1px solid $dark-transparent12;
            background-color: $white;
            box-shadow: 0 0 4px 0 $dark-transparent04;
        }
        .chosen-container {
            width: 100% !important;
            .drop-has-error {
                .chosen-single {
                    border: 1px solid $validation-error !important;
                }
            }
            .chosen-container-active {
                &.chosen-with-drop {
                    .chosen-single {
                        border: 1px solid $dark-transparent12;
                        border-bottom: 1px solid $dark-transparent12;
                    }
                }
            }
            .chosen-drop {
                border: 0;
                border-top: 1px solid $dark-transparent12;
            }
            &.single-item {
                .chosen-single div {
                    b {
                        &:before {
                            display: none;
                        }
                    }
                }
                opacity: 1 !important;
                .chosen-single {
                    background: $white;
                    border: none;
                    box-shadow: none !important;
                }
            } // How the selected item should look
            .chosen-single {
                background: $white;
                width: 100%;
                box-sizing: border-box;
                height: rem(45px);
                border: 1px solid $dark-transparent12;
                box-shadow: 0 0 4px 0 $dark-transparent04;
                padding: 0 !important;
                border-radius: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                span {
                    height: rem(24px);
                    color: $dark-transparent42;
                    font-family: $font-family;
                    font-size: rem(18px);
                    font-weight: 300;
                    line-height: rem(24px);
                    padding-left: rem(10px);
                    margin-right: rem(35px);
                    @at-root [dir='rtl'] & {
                        text-align: right;
                        padding-right: rem(10px);
                        margin-left: rem(35px);
                        margin-right: 0;
                    }
                }
                div {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: rem(30px);
                    height: 100%;
                    margin-right: rem(5px);
                    @at-root [dir='rtl'] & {
                        right: auto;
                        left: rem(3px);
                    }
                    b {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        &:before {
                            color: $dark-transparent62;
                            background: transparent;
                            content: "\e902";
                            font-family: 'icomoon';
                            font-size: rem(24px);
                        }
                    }
                }
            } // When dropdown is open...
            &.chosen-with-drop {
                .chosen-single div {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: rem(30px);
                    height: 100%;
                    @at-root [dir='rtl'] & {
                        right: auto;
                        left: rem(3px);
                    }
                    b {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        &:before {
                            content: "\e905";
                            font-family: 'icomoon';
                            font-size: rem(24px);
                        }
                    }
                }
            } // Style search box of chosen dropdown
            .chosen-search {
                padding: rem(8px);
                height: rem(63px);
                input[type="text"] {
                    height: 100%;
                    border: 1px solid $dark-transparent12;
                    color: $dark-transparent42;
                    font-size: rem(18px);
                    border-radius: 0;
                    padding: 0 30px 0 10px;
                    @at-root [dir='rtl'] & {
                        padding: 0 10px 0 30px;
                    }
                }
                &:after {
                    background: transparent;
                    content: "\e92f";
                    font-family: 'icomoon';
                    font-size: rem(24px);
                    position: absolute;
                    right: rem(15px);
                    top: rem(15px);
                    height: rem(36px);
                    line-height: rem(36px);
                    color: $dark-transparent42;
                    text-align: right;
                    @at-root [dir='rtl'] & {
                        right: 0;
                        left: rem(15px);
                        text-align: left;
                    }
                }
            }
            .chosen-results {
                padding: 8px;
                color: $dark-transparent82;
                background: $white;
                @at-root [dir='rtl'] & {
                    text-align: right;
                }
                li {
                    font-size: rem(18px);
                    font-weight: 300;
                    &.active-result {
                        padding: rem(12px);
                        line-height: rem(20px);
                    }
                    &.highlighted {
                        background: $dark-transparent04;
                        color: $dark-transparent82;
                    }
                    &.no-results {
                        color: $dark-transparent82;
                        padding: 0px 20px;
                        height: rem(45px);
                        line-height: rem(45px);
                    }
                    em {
                        text-decoration: none;
                        font-weight: 400;
                    }
                }
            }
        }
        .chosen-disabled {
            .chosen-single {
                background: $dark-transparent04;
                border-style: dashed;
            }
        }
    }
    &__error {
        color: $validation-error;
        font-family: $font-family;
        font-size: rem(12px);
        line-height: rem(16px);
        padding-top: rem(2px);
        min-height: rem(16px);
        @at-root [dir='rtl'] & {
            text-align: right;
        }
    }
}