.qm-drop-down {
    &__component {
        &.selectOutcome {
            width: calc(100% + 22px) !important;
            right: 11px;
            position: relative;
            @at-root [dir='rtl'] & {
                right: -11px;
            }
            &:focus {
              background: rgba($secondary-color, 0.04);;
            }
            .chosen-single {
                div {
                    display: none;
                }
                border: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                span {
                    line-height: 15px;
                    &:before {
                        content: "\e928";
                        font-family: 'icomoon';
                        font-size: rem(24px);
                        position: relative;
                        margin-right: rem(5px);
                        top: 4px;
                        color: $secondary-color;
                        @at-root [dir='rtl'] & {
                            margin-left: rem(5px);
                            display: inline-block;
                            margin-right: 0;
                        }
                    }
                    @at-root [dir='rtl'] & {
                        display: list-item;
                    }
                }
                &.chosen-default {
                    span {
                        color: $secondary-color;
                    }
                }
            }
            .chosen-results {
                li {
                    padding-left: rem(31px) !important;
                    padding-right: rem(31px) !important;
                }
            }
            &.optionSelected {
                .chosen-single {
                    span {
                        color: $dark-transparent82 !important;
                        font-weight: 300 !important;
                    }
                }
            }
            .chosen-container {
                .chosen-single:hover {
                    background: rgba($secondary-color, 0.04) !important;
                }
            }
            .chosen-disabled {
                background: $dark-transparent04 !important;
            }
            .chosen-with-drop {
                div {
                    display: block;
                }
                .chosen-single {
                    outline: none;
                    -webkit-box-shadow: inset 0px 0px 4px #ccc;
                    -moz-box-shadow: inset 0px 0px 4px #ccc;
                    box-shadow: inset 0px 0px 4px #ccc;
                    border: 0;
                    &.chosen-default {
                        span {
                            color: $dark-transparent42 !important;
                        }
                    }
                    span {
                        &:before {
                            color: $dark-transparent62 !important;
                        }
                    }
                    b {
                        &:before {
                            color: $dark-transparent82 !important;
                        }
                    }
                }
            }
        }
    }
}