node_modules/
dist/
config.gulp.json # this can be removed later
gulp.config.json
npm-debug.log
*.utt
.DS_Store
.vscode/

# Ignore IDEA project structure
.idea
*.iml
*.ipr
*.ids
*.iws
out
*bin
*target
*.settings
atlassian-ide-plugin.xml