.qm-card-header {

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__headline {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
        font-size: rem($h1-font-size);
        margin-bottom: 0;
    }

    &__highlighted {
        color: $h1-color !important;
        font-weight: $font-weight-medium !important;
    }

    &__customer-name {
        flex: 0 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        padding-right: rem($global-standard-padding / 2);

        @at-root [dir='rtl'] & {
            padding-right: 0;
            padding-left: rem($global-standard-padding / 2);
        }

        &:empty {
            padding-right: 0;
        }

        &:visited {
            color: $h1-color;
        }

        &:hover,
        &:focus {
            color: $dark-transparent82;
            text-decoration: underline;
        }
    }

    &__ticket {
        flex: 1 0 auto;
        font-weight: $font-weight-light;
        color: $dark-transparent82;
        white-space: nowrap;
        overflow: hidden;

        @at-root [dir='rtl'] & {
            text-align: right;
        }
    }

    &__add-customer {
        flex: 0 0 28px;
        color: $pale-aquamarine;
        margin-left: rem(4px);

        &:hover {
            text-decoration: none;
        }

        @at-root [dir='rtl'] & {
            margin-left: 0;
            margin-right: rem(4px);
        }
    }

    &__add-customer-icon {
        font-size: rem(28px);
    }
    
    &__sub-heading {
        font-size: rem(28px);
    }
}

.qm-card-description {
    display: block;
    font-size: rem(20px);
    font-weight: $font-weight-light;
    margin: rem($global-standard-padding / 2 0 $global-standard-margin * 2 0);
}