.qm-card-fill {
    height: 100%;
    width: 100%;
    .qm-card-fill__inner-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .qm-card {
        height: inherit;
        display: flex;
        height: $global-card-min-height;
        flex-direction: column;
        justify-content: center;
        min-height: 400px;
        &--justify-top {
            justify-content: flex-start !important;
        }
    }
}