.qm-card-nav {
    display: flex;
    align-items: center;

    &--popover {
        padding: rem($global-standard-padding / 2 0);
    }

    &__left {
        flex: 0 0 24px;
        height: 24px;
    }

    &__middle {
        flex: 1 1 auto;
        padding: 0 8px;
    }

    &__right {
        flex: 0 0 24px;
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: rem(28px);
        font-weight: $font-weight-light;
        margin-bottom: 0;
        color: $text-primary-color;

        @at-root [dir='rtl'] & {
            text-align: right;
        }

        @at-root .qm-popover & {
            color: $popover-header-color;
            font-size: rem(21px);
            font-weight: $font-weight-medium;
            text-transform: uppercase;
        }
    }

    &__back-btn {
        .qm-action-btn__icon {
            color: $back-button-color;
            font-size: rem(24px);

            @at-root .qm-popover & {
                color: $primary-color;
            }
        }
    }

    &__close-btn {
        .qm-action-btn__icon {

            @at-root .qm-popover & {
                font-size: rem(24px);
            }
        }
    }
}
