#addCustomerCard {
    .qm-card {
        &__header-section {
            flex: 0 0 auto;
        }

        &__content-section {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
        }
        .qm-customer {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 76px;
        }

        .qm-form-actions {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}