 .search-filter {
    padding-left: 0px;
    padding-right: 0px;

    label {
        position: relative;
        width: 100%;
        margin: 0;

        input {
            width: inherit;
            box-sizing: border-box;
            height: rem(45px);
            border: 1px solid $dark-transparent12;
            box-shadow: 0 0 4px 0 $dark-transparent04;
            color: $dark-transparent82;
            font-size: rem(18px);
            padding: rem(10px) 0;
            font-weight: 300;
            padding-right: rem(35px);
            padding-left: rem(10px);

            @at-root [dir='rtl'] & {
                padding-left: rem(35px);
                padding-right: rem(10px);
            }

            &:focus {
                outline: 0;
            }
        }   
    }
}

.qm-search-filter {
    $self: &;

    &__icon {
        font-size: rem(24px);
        color: $dark-transparent42;
        position: absolute;
        right: rem(12px);
        left: auto;
        top: 50%;
        transform: translateY(-50%);

        @at-root [dir='rtl'] & {
            left: rem(12px);
            right: auto;
        }
    }

    &__clear-btn {
        display: none;
        border: 0;
        padding: 0;
        height: rem(18px);
        background: transparent;
        position: absolute;
        right: rem(12px);
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &:hover {
            #{ $self }__clear-btn-icon {
                color: $dark-transparent82;
            }
        }
    }

    &__clear-btn-icon {
        font-size: rem(18px);
        color: $dark-transparent42;
    }

    &--show-clear-btn {
        #{ $self }__clear-btn {
            display: block;
        }

        #{ $self }__icon {
            display: none;
        }
    }
}