#walkInCard {
    .qm-card {
        &__header-section {
            margin-bottom: 5px;
            .qm-card-header {
                &__headline {
                    color: $dark-transparent82;
                    font-size: rem(28px);
                    font-weight: 300;
                    line-height: rem(32px);
                    margin-bottom: rem(15px);
                }
                &__sub-heading {
                    color: $dark-transparent82;
                    font-size: rem(20px);
                    font-weight: 300;
                    line-height: rem(24px);
                    margin-bottom: rem(12px);
                    @at-root [dir='rtl'] & {
                        text-align: right;
                    }
                }
            }
        }
        &__content-section {
            flex-grow: 1;
            overflow: auto;
            .dataTables_filter {
                display: none;
            }
            .dataTable {
                color: $dark-transparent82;
                font-family: $font-family;
                font-size: rem(18px);
                font-weight: 300;
                width: 100% !important;
                table-layout: auto;
                tbody {
                    display: block;
                    td {
                        padding: rem(10px) !important;
                        text-align: left !important;
                        cursor: pointer;
                        background: $white;
                        border: none !important;
                        width: 100%;
                        display: block;
                        &:hover {
                            background: $dark-transparent04;
                        }
                        @at-root [dir='rtl'] & {
                            text-align: right !important;
                        }
                    }
                    tr {
                        border: none;
                        background: $white;
                        display: block;
                        width: 100%;
                    }
                }
                a {
                    text-decoration: none;
                    color: inherit;
                    &:hover {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
            .dataTables_info {
                display: none;
            }
        }
        &__footer-section {
            min-height: rem(50px);
        }
        &-action-layout {
            margin-top: 0;
        }

        #walkDirectServices_wrapper {
          .dataTables_scrollHead {
            #walkServiceInternalName {
              display: none;
            }
          }
        }
    }
}