.qm-card-layout {
    display: flex;
    height: $global-card-layout-height;
    justify-content: center;
    align-items: center;
    padding: rem($global-standard-padding);
    padding-bottom: 0;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
    &__shadow {
        background: linear-gradient(to top, $dark-transparent82, $dark-transparent02);
        width: 100%;
        height: rem($global-standard-card-shadow-height);
        bottom: 0;
        position: absolute;
        opacity: 0.3;
    }
}

.qm-card-action-layout {
    display: flex;
}