.qm-card-layout {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: rem($global-standard-padding);
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.qm-card-action-layout {
    display: flex;
}
