#dsCard {
    .qm-card {
        &-nav{
            &__left{
                display: none;
            }
        }
        &__header-section {
            margin-bottom: 0;
            .qm-card-header {
                .qm-card-nav {
                    margin-bottom: rem($global-standard-margin);
                }
                &__sub-heading {
                    color: $dark-transparent82;
                    font-size: rem(20px);
                    font-weight: 300;
                    line-height: rem(24px);
                    margin-bottom: rem(12px);
                    @at-root [dir='rtl'] & {
                        text-align: right;
                    }
                }
            }
        }
        &__content-section {
            * {
                &:focus {
                    outline: 0;
                }
            }
            flex-grow: 1;
            overflow: auto;
            .dataTables_scrollHeadInner {
                width: 100% !important;
            }
            .dataTables_scrollHeadInner {
                thead {
                    tr {
                        position: relative;
                        &.table-header__border {
                            &:after {
                                content: "";
                                width: 100%;
                                height: 2px;
                                display: block;
                                left: 0;
                                bottom: 0;
                                background: $dark-transparent12;
                                position: absolute;
                            }
                        }
                        th {
                            color: $dark-transparent62;
                            font-weight: 500;
                            font-size: rem(12px);
                            line-height: rem(30px);
                            border-bottom: 0;
                            &:hover{
                                cursor: auto !important;
                            }
                            &.sorting {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    width: 10px;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                            &.sorting_desc {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    ;
                                    width: 10px;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                            &.sorting_asc {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    width: 10px;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
            .dataTable {
                color: $dark-transparent82;
                font-family: $font-family;
                font-size: rem(18px);
                font-weight: 300;
                width: 100% !important;
                table-layout: fixed;
                tbody {
                    td {
                        padding: rem(10px) !important;
                        text-align: left !important;
                        background: transparent;
                        border: none !important;
                        @at-root [dir='rtl'] & {
                            text-align: right !important;
                        }
                        &:nth-child(3) {
                            text-align: right !important;
                            @at-root [dir='rtl'] & {
                                text-align: left !important;
                            }
                        }
                    }
                    tr {
                        background: $white;
                        &:hover {
                            background: $dark-transparent04;
                        }
                    }
                }
            }
            .dataTables_info {
                display: none;
            }
        }
        &__footer-section {
            margin-top: rem(30px);
        }
    }
}