 .search-filter{
                padding-left: 0px;
                padding-right: 0px;
                label {
                    position: relative;
                    width: 100%;
                    margin: 0;
                    input {
                        width: inherit;
                        box-sizing: border-box;
                height: rem(45px);
                border: 1px solid $dark-transparent12;
                box-shadow: 0 0 4px 0 $dark-transparent04;
                color: $dark-transparent42;
                font-size: rem(18px);
                padding: rem(10px) 0;
                font-weight: 300;
                &:focus {
                    outline: 0;
                }
                        padding-right: rem(35px);
                        padding-left: rem(10px);
                        @at-root [dir='rtl'] & {
                            padding-left: rem(35px);
                            padding-right: rem(10px);
                        }
                    }
                    &:after {
                        background: transparent;
                        content: "\e92f";
                        font-family: 'icomoon';
                        font-size: rem(24px);
                        position: absolute;
                        right: rem(12px);
                        left: auto;
                        top: rem(6px);
                        color: $dark-transparent42;
                        @at-root [dir='rtl'] & {
                            left: rem(12px);
                            right: auto;
                        }
                    }
                }
            
            }