#marksCard {
    .qm-card {
        &-nav{
            &__left{
                display: none;
            }
        }
        &__header-section {
            margin-bottom: 0;
            .qm-card-header {
                .qm-card-nav {
                    margin-bottom: rem($global-standard-margin);
                }

                &__sub-heading {
                    color: $dark-transparent82;
                    font-size: rem(20px);
                    font-weight: 300;
                    line-height: rem(24px);
                    margin-bottom: rem(12px);
                    @at-root [dir='rtl'] & {
                        text-align: right;
                    }
                }
            }
            .custom-list-header {
                vertical-align: middle;
                color: $dark-transparent62;
                border-bottom: 1px solid $dark-transparent12;
                font-weight: 500;
                font-size: rem(12px);
                display: flex;
                @at-root [dir='rtl'] & {
                    text-align: right;
                }
                &-col {
                    flex: 1;
                    padding: rem(10px);
                }
            }
        }
        &__content-section {
            flex-grow: 1;
            overflow: auto;
            .dataTables_scrollHead{
                display: none;
            }
            .dataTables_scrollHeadInner {
                width: 100% !important;
            }
            .dataTables_scrollHeadInner {
                thead {
                    tr {
                        position: relative;
                        &.table-header__border {
                            &:hover{
                                background: transparent;
                                cursor: auto !important;
                            }
                            &:after {
                                content: "";
                                width: 100%;
                                height: 2px;
                                display: block;
                                left: 0;
                                bottom: 0;
                                background: $dark-transparent12;
                                position: absolute;
                            }
                        }
                        th {
                            color: $dark-transparent62;
                            font-weight: 500;
                            font-size: rem(12px);
                            line-height: rem(30px);
                            border-bottom: 0;
                            width: 15px;
                            &:hover{
                                cursor: auto !important;
                            }
                            @at-root [dir='rtl'] & {
                                padding: 3px 10px 3px 18px;
                                text-align: right;
                            }
                            &.sorting {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    position: absolute;
                                    right: 0;
                                    @at-root [dir='rtl'] & {
                                        left: 0;
                                        right: auto;
                                    }
                                }
                            }
                            &.sorting_desc {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "\e902";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    position: absolute;
                                    right: 0;
                                    @at-root [dir='rtl'] & {
                                        left: 0;
                                        right: auto;
                                    }
                                }
                            }
                            &.sorting_asc {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "\e905";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    position: absolute;
                                    right: 0;
                                    @at-root [dir='rtl'] & {
                                        left: 0;
                                        right: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .dataTable {
                color: $dark-transparent82;
                font-family: $font-family;
                font-size: rem(18px);
                font-weight: 300;
                width: 100% !important;
                table-layout: auto;
                tbody,
                thead {
                    td {
                        padding: rem(10px) !important;
                        text-align: left !important;
                        background: transparent;
                        border: none !important;
                        @at-root [dir='rtl'] & {
                            text-align: right !important;
                        }
                        .removeMarkBtn {
                            display: block;
                            height: 100%;
                            cursor: pointer;
                            margin-left: rem(15px);
                            float: right;
                            @at-root [dir='rtl'] & {
                                margin-left: rem(0px);
                                margin-right: rem(15px);
                                float: left;
                            }
                            button {
                                vertical-align: middle;
                                i {
                                    width: rem(24px);
                                    height: rem(24px);
                                    color: $dark-transparent42;
                                    font-size: rem(22px);
                                }
                            }
                            &:hover {
                                i {
                                    &:before {
                                        color: $dark-transparent82;
                                    }
                                }
                            }
                        }
                    }
                    tr {
                        background: $white;
                        &:hover {
                            background: $dark-transparent04;
                        }
                    }
                }
            }
            .dataTables_info {
                display: none;
            }
        }
        &__footer-section {
            margin-top: rem(30px);
        }
    }
}