#customerListCard {
    .qm-card {
        &-nav__middle {
            padding: 0;
        }
        &__header-section {
            flex: 0 0 auto;
        }
        &__content-section {
            flex: 1 1 auto;
            overflow: auto;
        }
        &__footer-section {
            flex: 0 0 auto;
        }
    }
}