#dsCard {
    .qm-card {
        &-nav {
            &__left {
                display: none;
            }
        }
        &__header-section {
            margin-bottom: 0;
            .qm-card-header {
                .qm-card-nav {
                    margin-bottom: rem($global-standard-margin);
                }
                &__sub-heading {
                    color: $dark-transparent82;
                    font-size: rem(20px);
                    font-weight: 300;
                    line-height: rem(24px);
                    margin-bottom: rem(12px);
                    @at-root [dir='rtl'] & {
                        text-align: right;
                    }
                }
            }
            .custom-list-header {
                vertical-align: middle;
                color: $dark-transparent62;
                border-bottom: 1px solid $dark-transparent12;
                font-weight: 500;
                font-size: rem(12px);
                display: none;
                @at-root [dir='rtl'] & {
                    text-align: right;
                }
                &-col {
                    flex: 1;
                }
            }
        }
        &__content-section {
            flex-grow: 1;
            overflow: auto;
            .dataTables_scrollHeadInner {
                width: 100% !important;
            }
            .dataTables_scrollHeadInner {
                thead {
                    tr {
                        position: relative;
                        &.table-header__border {
                            border-bottom: 1px solid $dark-transparent12;
                        }
                        th {
                            color: $dark-transparent62;
                            font-weight: 500;
                            font-size: rem(12px);
                            line-height: rem(37px);
                            border-bottom: 0;
                            &:hover {
                                cursor: auto !important;
                            }
                            &.sorting {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    width: 10px;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                            &.sorting_desc {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    ;
                                    width: 10px;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                            &.sorting_asc {
                                background: $white;
                                position: relative;
                                &:after {
                                    content: "";
                                    font-family: 'icomoon';
                                    color: $dark-transparent82;
                                    width: 10px;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
            .dataTable {
                color: $dark-transparent82;
                font-family: $font-family;
                font-size: rem(18px);
                font-weight: 300;
                width: 100% !important;
                table-layout: auto;
                tbody {
                    td {
                        padding: rem(10px 5px) !important;
                        text-align: left !important;
                        background: transparent;
                        border: none !important;
                        @at-root [dir='rtl'] & {
                            text-align: right !important;
                        }
                    }
                    tr {
                        background: $white;
                        &:hover {
                            background: $dark-transparent04;
                        }
                    }
                }
            }
            // .dataTables_info {
            //     display: none;
            // }
        }
        &__footer-section {
            margin-top: rem(30px);
        }
    }
    .removeMarkBtn {
        display: block;
        height: 100%;
        cursor: pointer;
        margin-left: rem(15px);
        float: right;
        @at-root [dir='rtl'] & {
            margin-left: rem(0px);
            margin-right: rem(15px);
            float: left;
        }
        button {
            vertical-align: middle;
            i {
                width: rem(24px);
                height: rem(24px);
                color: $dark-transparent42;
                font-size: rem(22px);
            }
        }
        &:hover {
            i {
                &:before {
                    color: $dark-transparent82;
                }
            }
        }
    }
}