#confirm-hijack-modal {
    @include default-card-modal-layout();
    .qm-card {
        min-height: auto;
    }
    .qm-card__content-section {
        text-align: center;
    }
    .qm-btns-container {
         text-align: center;
        .qm-btn--primary {
            font-size: inherit;
            margin: 0 10px;
        }
        .qm-btn--secondary {
            font-size: inherit;
        }
    }
}