.qm-generic-layout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .qm-btn {
        margin-top: rem(5px);
    }

    &--space-between {
        justify-content: space-between;
    }

    &--align-right {
        justify-content: flex-end;
    }
}