#logout-window-modal {
    @include default-card-modal-layout();
    .qm-card__content-section {
        text-align: center;
    }
    .qm-btns-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        .qm-btn--primary {
            font-size: inherit;
            margin: 0 10px;
        }
        .qm-btn--secondary {
            font-size: inherit;
        }
    }
}