@import '_card-layout';
@import '_profile-settings-layout';
@import '_confirm-hijack-layout';
@import '_store-next-layout';
@import '_visit-in-display-queue-layout';
@import '_adjustable-layout';
@import '_notes-layout';
@import '_confirm-customer-layout';
@import '_customer-options-layout';
@import '_card-walk-in-layout.scss';
@import '_card-visit-layout.scss';
@import '_card-inactive-layout.scss';
@import '_card-add-ds-layout.scss';
@import '_card-search-filter-layout.scss';
@import '_card-marks-layout.scss';
@import '_card-transfer-layout';
@import '_card-add-services-layout.scss';
@import '_card-transfer-counter-pool-layout.scss';
@import '_card-transfer-staff-pool-layout.scss';
@import '_card-transfer-queues-layout.scss';
@import '_card-add-customer-layout.scss';
@import '_card-edit-customer-layout.scss';
@import '_card-customer-list-layout.scss';
@import '_next-services-layout.scss';
@import '_disabled-queue-layout';
@import '_disabled-pool-and-queue-layout';
@import '_logout-window-layout';
@import '_generic-layout';
@import '_generic-confirm-layout';
@import '_wrap-up-layout';
