#next-services-modal {
    @include default-card-modal-layout();
    .qm-card {
        min-height: auto;

        &__header-section {
            text-align: center;

            @at-root [dir='rtl'] & {
                text-align: center;
            }
        }

        &__content-section {
            padding: rem($global-standard-padding 0 $global-standard-padding * 2);
            flex-grow: 1;
        }
    }
}

.qm-services-list {
    max-height: rem(235px);
    overflow-y: auto;

    &__row {
        font-size: rem(18px);
        padding: rem($global-standard-padding / 2 0);
        display: flex;
        font-weight: $font-weight-light;

        &--bold {
            font-weight: $font-weight-regular;
        }
    }
}
