#profile-settings-modal {
    @include default-card-modal-layout();
    .qm-card {
        min-height: auto;
    }
    .qm-card__content-section {
        .error-message{
            margin: 20px 0;
        }
    }
    .qm-btns-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        .qm-btn--primary {
            font-size: inherit;
            margin-left: rem(10px);
            @at-root [dir='rtl'] & {
                margin-left: rem(0px);
                margin-right: rem(10px);
            }
        }
        .qm-btn--secondary {
            font-size: inherit;
        }
    }
}