#store-next-modal {
    @include default-card-modal-layout();
    .qm-card {
        min-height: auto;
    }
    .qm-card__content-section {
        text-align: center;
    }
    .qm-btns-container {
        text-align: center;
    }
}