<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	<display-name>Workstation Terminal</display-name>
	<description>Workstation Terminal Web App</description>
    
    <!-- Resource bundle exposure to get the workstationTerminalMessages.properties through a get request -->
    <servlet>
        <servlet-name>bundleServlet</servlet-name>
        <servlet-class>com.qmatic.qp.common.servlet.BundleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>bundleServlet</servlet-name>
        <url-pattern>/bundle/*</url-pattern>
    </servlet-mapping>
    <!-- bundleServlet end -->

    <!-- Start page -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <!--Security setup listener -->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <!--Security filter -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>com.qmatic.qp.core.aaa.shiro.QPShiroFilter</filter-class>
    </filter>

    <!--Default security filter that maps ALL -->
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

</web-app>
