// Generic colors
$white: #FFFFFF;
$light-gray: #F7F7F7;

$midnight-blue: #1a1c34;
$pale-blue: #334366;

$qmatic-bordeaux: #a9023b;
$amaranth: #e50046;

$pale-aquamarine: #66cdaa; // This will be changed

$charcoal: #2b2b2b;
$soft-gray: #e0e0e0;

// Application specific colors
$primary-color: $qmatic-bordeaux;
$secondary-color: $pale-aquamarine;
$tertiary-color: $midnight-blue;

$text-primary-color: $charcoal;

$line-color: $soft-gray;

$disabled-color: #929596;

$primary-button-background: $qmatic-bordeaux;
$primary-button-text-color: $white;
$primary-button-border-color: $qmatic-bordeaux;
$primary-button-active-color: $charcoal;

$secondary-button-background: $white;
$secondary-button-text-color: $amaranth;
$secondary-button-border-color: $amaranth;
$secondary-button-active-color: $charcoal;
