// Font-weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

html,
body {
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: $h1-color;
    font-size: rem($h1-font-size);
}