.sr-only {
    @include sr-only()
}

.qm-hide {
    display: none;
}

.invisible-on-load {
    visibility: hidden;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.error-message {
    color: $validation-error;
    font-size: rem(16px);
}

.qm-flex {
    display: flex;
    flex-wrap: wrap;
}

.qm-inline {
  display: inline;
}

.qm-mb-4 {
  margin-bottom: rem($global-standard-margin);
}

.qm-mt-4 {
  margin-top: rem($global-standard-margin);
}
