.sr-only {
    @include sr-only()
}

.qm-hide {
    display: none;
}

.invisible-on-load {
    visibility: hidden;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.error-message {
    color: $validation-error;
    font-size: 16px;
}