// Bootstrap overrides 
$grid-gutter-width: 32px;

// Heights
$global-header-height: 56px;
$global-footer-height: 40px;
$global-main-height: calc(100vh - #{$global-header-height} - #{$global-footer-height});

// Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;
