// Heights
$global-header-height: 56px;
$global-footer-height: 40px;
$global-main-height: calc(100vh - #{$global-header-height} - #{$global-footer-height});

// Bootstrap overrides 
$grid-gutter-width: 32px;

$standard-border-radius: 3px;
